
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#//////////////////////////
# Python (tools scripts)
#//////////////////////////
__pycache__/
*.pyc

#//////////////////////////
# Local backup folders
#//////////////////////////
assets/ResData_backup/